apiVersion: apps/v1
kind: Deployment
metadata:
  name: tianlang-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
      - name: java-app
        image: 192.168.199.142:5000/tianlang-app:latest
        ports:
        - containerPort: 8080
        command: ["/bin/sh", "-c"]
        args: ["java -jar /app.jar; sleep infinity"]
---
apiVersion: v1
kind: Service
metadata:
  name: tianlang-svc
spec:
  type: NodePort
  selector:
    app: web
  ports:
  - port: 80
    targetPort: 8080
    nodePort: 30080
