fastapi==0.104.1
uvicorn==0.24.0
jinja2==3.1.2
python-multipart
python-json-logger
# 数据科学与 AI
pandas
numpy
scikit-learn
joblib
plotly
requests
# 数据库 (Base)
psycopg2-binary
sqlalchemy
# 机器人 (Bot)
python-telegram-bot==20.7
